<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us</h1>
<h3>Author Blurbs + Photos</h3>
<img src="">
<img src="">
<img src="">

<h4>Our purpose: inform people who don't understand the topic and provide resources for women/minorities who face
    challenges in their field </h4>
<h5>Interactivity description: </h5>
<li>Providing resources - links to STEM opportunities, such as organizations so it is easier to find</li>
<li>Learning/Education - teach people and share data/info about the topic (statistics, reasoning for why this problem
    occurred, etc.) </li>







{% endblock %}