<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>About Us</h1>
<h3>Author Blurbs + Photos</h3>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Blurb</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Ida</td>
            <td>
                <img src="">
            </td>
            <td>I'm a senior at Oakland Tech's Computer Academy. In my free time I like playing games and baking.</td>
        </tr>
        <tr>
            <td>Kelly</td>
            <td>
                <img src="">
            </td>
            <td>>I attend Oakland Technical High School and I am a senior. I am currently studying computer science.</td>
        </tr>
        <tr>
            <td>Amanda</td>
            <td>
                <img src="">
            </td>
            <td>I'm currently a high school senior at Oakland Technical High School. I want to become a software
                engineer
                once I graduate from college.</td>
        </tr>
    </tbody>
</table>

<br></br>
<h4>Our purpose: inform people who don't understand the topic and provide resources for women/minorities who face
    challenges in their field </h4>
<h5>Interactivity description: </h5>
<li>Providing resources - links to STEM opportunities, such as organizations so it is easier to find</li>
<li>Learning/Education - teach people and share data/info about the topic (statistics, reasoning for why this problem
    occurred, etc.) </li>

<br></br>
<h3>Version 1.02</h3>
<h5>Release Notes: </h5>
<p>About Us Page: added author blurbs and images for about us page. Included short description for the purpose of
    website. Describe interactivity for users.</p>

{% endblock %}