<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1 style="font-family: 'Kaisei Tokumin', serif;"><Strong>About Us</Strong></h1>
<h3 style="font-family: 'Kaisei Tokumin', serif;"><Strong>Who We Are-</Strong></h3>

<div class="container">
    <div class="row">
        <div class="col">
            <link href="https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap" rel="stylesheet">
            <p style="font-family: 'Kaisei Tokumin', serif;">We are the creators and owners of the STEM Capstone website in the Computer Science Academy.</p>
            <img src="/static/grouphoto.jpg" width="450" height="250" style="float: right;" />
            <p style="font-family: 'Kaisei Tokumin', serif;"><strong>Left: </strong>Hi, I'm Kelly. I attend Oakland
                Technical High School and I am a senior. I am currently studying computer science.</p>
            <p style="font-family: 'Kaisei Tokumin', serif;"><strong>Middle: </strong>Hi, I'm Amanda. I'm currently a high
                school senior at Oakland Technical High School. I want to become a software engineer once I graduate
                from college. </p>
            <p style="font-family: 'Kaisei Tokumin', serif;"><strong>Right: </strong>Hi, I'm Ida. I'm a senior at Oakland
                Tech's Computer Academy. In my free
                time I like playing games and baking.</p>
        </div>
    </div>
</div>

<br></br>

<!-- Purpose -->
<h3 style="font-family: 'Kaisei Tokumin', serif;"><Strong>Our purposes and goals:</Strong></h3>
<li style="font-family: 'Kaisei Tokumin', serif;">to inform people who don't understand what STEM is </li>
<li style="font-family: 'Kaisei Tokumin', serif;">to provide resources to women and minorities from under resourced schools</li>
<li style="font-family: 'Kaisei Tokumin', serif;">to spread awareness about the STEM Gap</li>
<li style="font-family: 'Kaisei Tokumin', serif;">to encourage students to participate in STEM</li>

<br></br>

<!-- Version and Release Notes -->
<h3 style= "font-family: 'Kaisei Tokumin', serif;"><strong>Version 4.3</strong></h3>
<h5 style = "font-family: 'Kaisei Tokumin', serif;">Release Notes: </h5>
<li style = "font-family: 'Kaisei Tokumin', serif;">About Us Page: added author blurbs and images for about us page. Included short description for the purpose of
    website. Describe interactivity for users.</li>
<li style = "font-family: 'Kaisei Tokumin', serif;">STEM Overview Home Page: added more content and images</li>
<li style = "font-family: 'Kaisei Tokumin', serif;">Organization Page: included an organization page for interactivity between the users and website</li>

<body style="background-color:#E1E1F7">

<br></br>

    {% endblock %}
