<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<H1>Forms for Organizations</H1>
<form>
    Enter Organization Name:
     <input type="text" name="Fname">
     </form>
     <form>
        Enter Organization Website:
         <input type="text" name="Fname">
         </form>
         <form>
            Enter Organization Address:
             <input type="text" name="Fname">
             </form>

         <p>Please enter a summary of your organization. What is your mission? What demographics do you target?
         </p>
         <form>
             <input type="text">
             </form>

             <p>Do you want to participate in a mentorship program?</p>
             <select name="YesorNo" id="YesorNo">
               <option value="Yes">Yes</option>
               <option value="No">No</option>
             </select>   
             
             <input type="submit" value="Submit">
{% endblock %}